---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name } = Astro.props;
---

<Section text="About Me" href="about">
  <div class="flex flex-col items-center gap-12 md:flex-row md:gap-8">
    <p class="w-auto text-base text-neutral md:pr-5">{description}</p>
    <div
      class="h-80 w-64 flex-shrink-0 rotate-[5deg] bg-white p-4 md:rotate-[7deg]"
    >
      <Image
        class="object-cover"
        src={image}
        width="260"
        height="260"
        alt={name}
      />
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-16">
    <article class="flex flex-col gap-2">
      <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
        Frontend
      </h3>
      <ul class="flex flex-wrap gap-2">
        {
          ["React", "Next.js", "Angular", "Tailwind CSS", "Bootstrap", "JavaScript", "TypeScript"].map((skill) => (
            <li class="py-1 px-3 bg-gray-200 dark:bg-gray-700 rounded-md text-sm text-gray-800 dark:text-gray-200">
              {skill}
            </li>
          ))
        }
      </ul>
    </article>

    <article class="flex flex-col gap-2">
      <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
        Backend
      </h3>
      <ul class="flex flex-wrap gap-2">
        {
          ["Node.js", "Express.js", "MongoDB", "MySQL", "Supabase", "JWT"].map((skill) => (
            <li class="py-1 px-3 bg-gray-200 dark:bg-gray-700 rounded-md text-sm text-gray-800 dark:text-gray-200">
              {skill}
            </li>
          ))
        }
      </ul>
    </article>

    <article class="flex flex-col gap-2">
      <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
        Core Concepts & Tools
      </h3>
      <ul class="flex flex-wrap gap-2">
        {
          ["C", "C++", "DSA", "OOPS", "DBMS", "Git", "GitHub", "Postman", "Linux"].map((skill) => (
            <li class="py-1 px-3 bg-gray-200 dark:bg-gray-700 rounded-md text-sm text-gray-800 dark:text-gray-200">
              {skill}
            </li>
          ))
        }
      </ul>
    </article>
  </div>
</Section>
